doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Edit Book
    link(rel="stylesheet", href="/style.css")
  body
    include nav.pug
    
    h1 Edit Book
    
    form(method="POST" action=`/books/${book.id}?_method=PUT`)
      label(for="title") Title:
      input(type="text" name="title" value=`${book.title}` required)
    
      label(for="author") Author:
      input(type="text" name="author" value=`${book.author}` required)
    
      label(for="genre") Genre:
      input(type="text" name="genre" value=`${book.genre}` required)
    
      label(for="year") Year:
      input(type="number" name="year" min="0" max="9999" value=`${book.year}` required)
    
      label(for="isbn") ISBN:
      input(type="text" name="isbn" value=`${book.isbn}` required)
    
      label(for="description") Description:
      textarea(name="description" rows="4" required)`${book.description}`
    
      button(type="submit") Update Book
    
    include footer.pug
    script(src="/script.js") 